{% extends 'home/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}Reviewss. {% endblock title %}
{% block style %}
    <link rel="stylesheet" href="{% static 'reviews/styles/all_reviews.css' %}"> {% endblock style %}
{% block content %}
    <div class="center-screen">
        <div class="review-form">
            <ion-icon name="close-outline" class="close-icon"></ion-icon>
            <h1>{% trans "Ваш відгук" %}</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="inputs">
                    <div class="text-inputs">
                        <input type="text" class="form-input" placeholder="{% trans "*Ваше ім'я" %}" name="{{ form.owner_name.name }}"
                               id="{{ form.owner_name.id_for_label }}" required>
                        <input type="url" class="form-input" placeholder="{% trans "Посилання на соцмережу" %}"
                               name="{{ form.owner_social.name }}"
                               id="{{ form.owner_social.id_for_label }}" maxlength="200">
                        <textarea class="form-textarea"
                                  placeholder="{% trans "*Ваш відгук (Мінмальна кількість символів - 30)" %}"
                                  name="{{ form.owner_review.name }}"
                                  id="{{ form.owner_review.id_for_label }}" required minlength="30"
                                  maxlength="1000"></textarea>
                    </div>
                    <label class="custom-file-input">
                        <input type="file" name="{{ form.owner_image.name }}"
                               id="{{ form.owner_image.id_for_label }}"
                               accept="image/*" onchange="previewImage(event)">
                        <div class="choose-block">
                            <img id="preview" src="{% static 'reviews/images/add_photo.jpg' %}" alt="Preview"><br>
                            <span>{% trans "Вибрати фото" %}</span>
                        </div>

                    </label>
                </div>
                <div class="div-btn">
                    <button type="submit">{% trans "Відправити" %}</button>
                </div>
            </form>
        </div>
    </div>
    <div class="wrapper">
        <div class="create-review">
            <span class="create">{% trans "Залишити відгук" %}</span>
        </div>
        <div class="reviews">
            {% for review in reviews %}
                <div class="review">
                    <div class="image-block">
                        <img src="{% if review.owner_image %}
                                {{ review.owner_image.url }}
                                {% else %}
                                {% static 'reviews/images/person_icon.jpg' %}
                                {% endif %}"
                             alt="">
                    </div>
                    <div class="text-block">
                        <div class="text-head">
                            <h2>{{ review.owner_name }}</h2>
                            <p>{{ review.created_at|date:"d.m.Y" }}</p>
                        </div>
                        {% if review.owner_social %}
                            <a href="{{ review.owner_social }}">{{ review.owner_social }}</a>
                        {% endif %}
                        <p>{{ review.owner_review }}</p>

                    </div>
                </div>
                <div class="endline"></div>
            {% endfor %}

        </div>
    </div>
{% endblock content %}
{% block script %}
    <script>
        function previewImage(event) {
            const preview = document.getElementById('preview');
            const file = event.target.files[0];
            const reader = new FileReader();

            reader.onloadend = function () {
                preview.src = reader.result;
            }

            if (file) {
                reader.readAsDataURL(file);
            } else {
                preview.src = "{% static 'reviews/images/add_photo.jpg' %}";
            }
        }

        const createBtn = document.querySelector('.create');
        const createReviewForm = document.querySelector('.center-screen');
        const createReviewFormBlock = document.querySelector('.review-form');
        const closeIcon = document.querySelector('.close-icon');
        createBtn.addEventListener('click', () => {
            createReviewForm.classList.add('show');
        })

        document.addEventListener("click", (event) => {
            if (!createReviewFormBlock.contains(event.target) && !createBtn.contains(event.target) || closeIcon.contains(event.target)) {
                createReviewForm.classList.remove('show');
            }
        });
    </script>
{% endblock script %}
