{% extends 'home/base.html' %}
{% load static %}
{% block title %}{{ category_name }}. {% endblock title %}
{% block style %}
    <link rel="stylesheet" href="{% static 'portfolio/styles/category.css' %}"> {% endblock style %}
{% block content %}
    <div class="wrapper">
        <div class="photos-wrapper">
            <div class="column first">
                {% for photo in column_1 %}
                    <div class="photo_link">
                        <img class="photo" src="{{ photo.image.url }}" alt="">
                    </div>
                {% endfor %}
            </div>
            <div class="column second">
                {% for photo in column_2 %}
                    <div class="photo_link">
                        <img class="photo" src="{{ photo.image.url }}" alt="">
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="fullscreen-container">
        <img class="fullscreen-image" src="" alt="">
        <div class="fullscreen-close">&times;</div>
        <div class="fullscreen-arrows">
            <ion-icon class="fullscreen-arrow" name="chevron-back"></ion-icon>
            <ion-icon class="fullscreen-arrow" name="chevron-forward"></ion-icon>
        </div>
    </div>
{% endblock content %}
{% block script %}
    <script>
        function getElementsArray() {
            const firstColumnDivs = document.querySelector('.first').querySelectorAll('.photo_link');
            const secondColumnDivs = document.querySelector('.second').querySelectorAll('.photo_link');

            const combinedArray = []

            const minLength = Math.min(firstColumnDivs.length, secondColumnDivs.length);
            const maxLength = Math.max(firstColumnDivs.length, secondColumnDivs.length);

            for (let i = 0; i < minLength; i++) {
                combinedArray.push(firstColumnDivs[i]);
                combinedArray.push(secondColumnDivs[i]);
            }

            if (maxLength - minLength === 1) {
                combinedArray.push(firstColumnDivs[minLength] || secondColumnDivs[minLength]);
            }

            return combinedArray
        }

        const staticBody = document.querySelector('body')
        const photoLinks = getElementsArray();
        const fullscreenContainer = document.querySelector('.fullscreen-container');
        const fullscreenImage = document.querySelector('.fullscreen-image');
        const fullscreenClose = document.querySelector('.fullscreen-close');
        const fullscreenArrowBack = document.querySelector('.fullscreen-arrow[name="chevron-back"]');
        const fullscreenArrowForward = document.querySelector('.fullscreen-arrow[name="chevron-forward"]');
        let currentPhotoIndex = 0;

        function showFullscreenPhoto(index) {
            fullscreenImage.src = photoLinks[index].querySelector('img').src;
            currentPhotoIndex = index
            staticBody.classList.add('static')
            fullscreenContainer.classList.add('show');
            fullscreenImage.classList.add('fade_in');
        }

        function hideFullscreenPhoto() {
            fullscreenContainer.classList.remove('show');
            staticBody.classList.remove('static');
            fullscreenImage.classList.remove('fade_in');
        }

        photoLinks.forEach((link, index) => {
            link.addEventListener('click', () => {

                showFullscreenPhoto(index);
            });
        });

        fullscreenClose.addEventListener('click', () => {
            hideFullscreenPhoto();
        });

        fullscreenArrowBack.addEventListener('click', () => {
            currentPhotoIndex = (currentPhotoIndex - 1 + photoLinks.length) % photoLinks.length;
            fullscreenImage.classList.remove('fade_in')
            setTimeout(() => {
                showFullscreenPhoto(currentPhotoIndex);
            }, 150);

        });

        fullscreenArrowForward.addEventListener('click', () => {
            currentPhotoIndex = (currentPhotoIndex + 1) % photoLinks.length;
            fullscreenImage.classList.remove('fade_in')
            setTimeout(() => {
                showFullscreenPhoto(currentPhotoIndex);
            }, 150);
        });
    </script>
{% endblock %}
