{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ category.name }} | {{ photo.id }}. Photographer Klymenko Oksana</title>
    <link rel="stylesheet" href="{% static 'portfolio/styles/photo.css' %}">
</head>
<body>
    <div class="wrapper">
        <a class="close" href="{% url 'portfolio:category' category.id %}"><ion-icon name="close-outline"></ion-icon></a>
        {% if previous_photo %}
            <a class="arr left" href="{% url 'portfolio:photo' previous_photo.id %}">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </a>
        {% endif %}
        <img class="main_photo" src="{{ photo.image.url }}" alt="">
        {% if next_photo %}
            <a class="arr right" href="{% url 'portfolio:photo' next_photo.id %}">
                <ion-icon name="chevron-forward-outline"></ion-icon>
            </a>
        {% endif %}
    </div>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
