{% extends 'home/base.html' %}
{% load static %}
{% block title %}Portfolio. {% endblock title %}
{% block style %}
    <link rel="stylesheet" href="{% static 'portfolio/styles/categories.css' %}"> {% endblock style %}
{% block content %}
    <div class="wrapper">
        <div class="categories-wrapper">
            <div class="column">
                {% for category in column_1 %}
                    <a href="{% url 'portfolio:category' category.id %}" class="category_link">
                        <img class="photo" src="{{ category.main_image.url }}" alt="">
                        <p class="name">{{ category.name }}</p>
                    </a>
                {% endfor %}
            </div>
            <div class="column">
                {% for category in column_2 %}
                    <a href="{% url 'portfolio:category' category.id %}" class="category_link">
                        <img class="photo" src="{{ category.main_image.url }}" alt="">
                        <p class="name">{{ category.name }}</p>
                    </a>
                {% endfor %}
            </div>
            <div class="column">
                {% for category in column_3 %}
                    <a href="{% url 'portfolio:category' category.id %}" class="category_link">
                        <img class="photo" src="{{ category.main_image.url }}" alt="">
                        <p class="name">{{ category.name }}</p>
                    </a>
                {% endfor %}
            </div>


        </div>
    </div>
{% endblock content %}

