{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'home/images/favicon.ico' %}">
    <title>{% block title %}{% endblock %} Photographer Klymenko Oksana</title>
    <link rel="stylesheet" href="{% static 'home/styles/base.css' %}">
    {% block style %}{% endblock style %}
</head>
<body>
<div class="top">
    {% get_current_language as LANGUAGE_CODE %}
    {% get_available_languages as LANGUAGES %}
    {% get_language_info_list for LANGUAGES as languages %}

    <div class="languages">
        <ul class="languages-list">
            {% for language in languages %}
                <li class="name">
                    <a href="/{{ language.code }}/{{ request.path_info|slice:'4:' }}"
                            {% if language.code == LANGUAGE_CODE %} class="selected"{% endif %}>
                        {{ language.name_local }}
                    </a>
                </li>
                <li class="code">
                    <a href="/{{ language.code }}/{{ request.path_info|slice:'4:' }}"
                            {% if language.code == LANGUAGE_CODE %} class="selected"{% endif %}>
                        {{ language.code }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <h3 class="phone" style="font-size: 17px">
        +4915121684492
    </h3>
</div>
<header>
    <h1 class="logo">KLYMENKO ОKSANA</h1>
    <nav>
        <ul class="nav-links">
            <li><a href="{% url 'portfolio:portfolio' %}">{% trans 'ПОРТФОЛІО' %}</a></li>
            <li><a href="{% url 'home:about' %}">{% trans 'ПРО МЕНЕ' %}</a></li>
            <li><a href="{% url 'blog:all_posts' %}">{% trans 'БЛОГ' %}</a></li>
            <li><a href="{% url 'services:all_services' %}">{% trans 'ЦІНИ' %}</a></li>
            <li><a href="{% url 'home:contacts' %}">{% trans 'КОНТАКТИ' %}</a></li>
            <li><a href="{% url 'reviews:all_reviews' %}">{% trans 'ВІДГУКИ' %}</a></li>
        </ul>
    </nav>
</header>

{% block content %}{% endblock %}

<footer>
    <div class="footer-content">
        <div class="social-icons">
            <a href="https://instagram.com/klimenko_foto?igshid=NTc4MTIwNjQ2YQ==">
                <ion-icon name="logo-instagram"></ion-icon>
            </a>
            <a href="https://www.facebook.com/ksuha.klimenko">
                <ion-icon name="logo-facebook"></ion-icon>
            </a>
            <a href="https://www.flickr.com/people/198742613@N06/">
                <ion-icon name="logo-flickr"></ion-icon>
            </a>
        </div>
        <p class="footer-text">{% trans 'Фотограф, Клименко Оксана' %} © 2023 All rights reserved</p>
    </div>
</footer>

<button class="scroll-to-top" onclick="scrollToTop()">
    <ion-icon name="chevron-up-outline"></ion-icon>
</button>
<script>
    function checkScroll() {
        const scrollButton = document.querySelector('.scroll-to-top');
        if (window.scrollY >= 200) {
            scrollButton.classList.add('show');
        } else {
            scrollButton.classList.remove('show');
        }
    }

    function scrollToTop() {
        window.scrollTo({top: 0, behavior: 'smooth'});
    }

    window.addEventListener('scroll', checkScroll);
</script>
{% block script %}{% endblock %}
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>