{% extends 'home/base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'home/styles/index.css' %}">{% endblock style %}


{% block content %}
    <div class="resume-header">
        Моя історія
    </div>
    <div class="resume">
        <div class="block">
            <div class="block-photo">
                <img src="{% static 'home/images/1_example.jpg' %}" alt="">
            </div>
            <div class="block-text">
                <h2>Вітаю!</h2>
                <p>Мене звуть Оксана, і я рада вітати вас на своєму веб-сайті. Фотографія завжди була моїм хобі, але з
                    часом вона перетворилася на мою справжню пристрасть. Сьогодні я вирішила піти далі і розвиватися в
                    цій сфері професійно.
                </p>
                <p>
                    Мої фотографії створені з любов'ю до деталей та вмінням уловлювати моменти. Я намагаюся передати
                    емоції, красу та історію кожного моменту через об'єктив моєї камери. Будь-який важливий момент
                    вашого життя, будь то весілля, сімейна зустріч, випускний вечір або просто незабутня прогулянка,
                    заслуговує бути запам'ятаним у найкращій форм
                </p>
            </div>
        </div>
        <div class="block">
            <div class="block-photo">
                <img src="{% static 'home/images/2_example.jpg' %}" alt="">
            </div>
            <div class="block-text">
                <h2>Чому саме я?</h2>
                <p>
                    Я завжди стараюся підійти до кожного зйомки індивідуально, розуміючи унікальність кожної людини та
                    події. Моя мета - зафіксувати натуральність та спеціальні моменти, які створять незабутню пам'ять. Я
                    вірю, що фотографія може зберегти миттєвості, що минають так швидко, і створити вам згадки на все
                    життя.</p>
                <p>На моєму сайті ви зможете ознайомитися з моїми роботами та відчути атмосферу, яку я створюю в кожній
                    фотографії. Я також рада зустрітися з вами особисто, обговорити ваші побажання та домовитися про
                    зйомку. Разом ми можемо створити щось особливе і неповторне.</p>

            </div>
        </div>
        <div class="block">
            <div class="block-photo">
                <img src="{% static 'home/images/3_example.jpg' %}" alt="">
            </div>
            <div class="block-text">
                <h2>Чекаю на зустріч!</h2>
                <p>
                    Дякую, що зайшли на мій веб-сайт. З нетерпінням очікую можливість зберегти найкращі моменти вашого
                    життя на фотографіях, та зробити так, щоб кожна з них переносила вас у той самий час і простір! Ваші
                    унікальні моменти і емоції - для мене найважливіші.
                    Сподіваюсь, що наша перша зустріч буде початком довгострокової співпраці, а ваші фотографії
                    збережуть ваші моменти щастя, кохання та емоцій назавжди.
                    Залишайтесь на зв' язку зі мною, слідкуйте за моїми роботами та новинами.
                </p>
                <p> З найкращими побажаннями,
                    Оксана, ваш фотограф</p>
            </div>
        </div>
    </div>
{% endblock content %}