{% extends 'home/base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'home/styles/index.css' %}">{% endblock style %}


{% block content %}
    <div class="lenta">
        Все про мене
    </div>
    <div class="wrapper">
        <div class="block">
            <div class="photo">
                <img src="{% static 'home/images/1_example.jpg' %}" alt="">
            </div>
            <div class="text">
                <h2>Привіт!</h2>
                <h3>Мене звати Клименко Оксана</h3>
                <p>Вже в дитинстві я знала, що хочу стати фотографом. У мого діда було своє фотоательє, а тато багато
                    вільного часу приділяв фотомистецтву і вчив мене виявляти плівку. У дитинстві для мене це було
                    справжньою магією і, коли я пізнала її поза Гоґвортсом, то точно зрозуміла, чим хочу займатися.
                </p>
                <p>
                    Але у життя були інші плани і довгий час любов до фотографії залишалася лише моїм хобі. Тільки
                    недавно я
                    вирішила всерйоз підійти до коханої у моєму житті справи. З того часу вже 2 роки, за який я виросла
                    професійно та художньо. Я ціную кожну фотозйомку і підходжу до неї відповідально і з максимальною
                    винахідливістю.
                </p>
            </div>
        </div>
        <div class="block">
            <div class="photo">
                <img src="{% static 'home/images/2_example.jpg' %}" alt="">
            </div>
            <div class="text">
                <h2>Чому саме я?</h2>
                <p>Я люблю спілкуватися з людьми, дізнаватися їхні історії.</p>
                <p>
                    Тільки познайомившись з героями зйомки, я можу відчути їхні майбутні образи і передати щирі стосунки
                    та емоції. Це дає мені змогу створювати неповторну і чарівну атмосферу, яка надає кожному кадру
                    унікальність.</p>
                <p>Постійно вдосконалююся. Ходжу на очні майстер-класи та воркшопи провідних фотографів України.
                    Регулярно розвиваю вміння за допомогою онлайн-шкіл і вебінарів.</p>
                <p>Я дуже ціную хороший сервіс. І зробила все для того, щоб ви ні про що не думали. Я максимально
                    розвантажую вас беручи всі організаційні питання на себе)</p>
            </div>
        </div>
        <div class="block">
            <div class="photo">
                <img src="{% static 'home/images/3_example.jpg' %}" alt="">
            </div>
            <div class="text">
                <h2>На що знімаю?</h2>
                <p>
                    Для когось це питання може здатися важливим, я ж вважаю, що головне не техніка, а вміння нею
                    користуватися.</p>

                <p> Проте, знімаю на: Флагманський Canon 6D - це одна з найкращих Full Frame камер свого сегмента.</p>

                   <p> Надсвітлосильні об'єктиви (f1/4) 50 і 85mm. Тільки фікси, можуть забезпечити кадрам глибину та
                       неповторні грані представлення знімка.</p>


                   <p> У запасі маю переносне світло, яке дає змогу знімати у вечірній час з якісним студійним
                    світлом.!</p>
            </div>
        </div>
    </div>
{% endblock content %}