{% extends 'home/base.html' %}
{% load static %}
{% block title %}Bloog. {% endblock title %}
{% block style %}
    <link rel="stylesheet" href="{% static 'blog/styles/all.css' %}"> {% endblock style %}
{% block content %}
    <div class="wrapper">
        <div class="blog-wrapper">
            {% for post in posts %}
                <div class="blog">

                    <div class="blog-head">
                        <h2>{{ post.title }}</h2>
                        <p>{{ post.created_at|date:"d.m.Y" }}</p>
                        <p>{{ post.intro }}</p>
                    </div>

                    <div class="blog-image">
                        <img src="{{ post.image.url }}" alt="">
                    </div>
                    <div class="blog-text">
                        {{ post.text|safe }}
                    </div>
                    <div class="like-block">
                        {% csrf_token %}
                        <button class="like-button{% if post.id in liked_posts %} liked{% endif %}"
                                data-post-id="{{ post.id }}">
                            <ion-icon name="heart"></ion-icon>
                        </button>
                        <span class="like-count">{{ post.likes }}</span>
                    </div>


                </div>
                <div class="endline">
                </div>

            {% endfor %}
            <div class="pagination">
                <span class="step-links">
                    {% if posts.has_previous %}
                        <a href="?page={{ posts.previous_page_number }}"><ion-icon
                                name="chevron-back-outline"></ion-icon></a>
                    {% else %}
                        <span class="inactive"><ion-icon name="chevron-back-outline"></ion-icon></span>
                    {% endif %}

                    <span class="current">
                        Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                    </span>

                    {% if posts.has_next %}
                        <a href="?page={{ posts.next_page_number }}"><ion-icon
                                name="chevron-forward-outline"></ion-icon></a>
                    {% else %}
                        <span class="inactive"><ion-icon name="chevron-forward-outline"></ion-icon></span>
                    {% endif %}
                </span>
            </div>
        </div>

    </div>


{% endblock content %}
{% block script %}
    <script type="module" src="{% static 'blog/scripts/likePosts.js' %}"></script>
{% endblock %}
