{% extends 'home/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}Bloog. {% endblock title %}
{% block style %}
    <link rel="stylesheet" href="{% static 'blog/styles/all.css' %}"> {% endblock style %}
{% block content %}
    <div class="wrapper">
        <div class="blog-wrapper">
            {% for post in posts %}
                <div class="blog">

                    <div class="blog-head">
                        <h2>{{ post.title }}</h2>
                        <p>{{ post.created_at|date:"d.m.Y" }}</p>
                        <p>{{ post.intro }}</p>
                    </div>

                    <div class="blog-image">
                        <img src="{{ post.image.url }}" alt="">
                    </div>
                    <div class="blog-text">
                        {{ post.text|safe }}
                    </div>
                    <div class="like-block">
                        {% csrf_token %}
                        <button class="like-button{% if post.id in liked_posts %} liked{% endif %}"
                                data-post-id="{{ post.id }}">
                            <ion-icon name="heart"></ion-icon>
                        </button>
                        <span class="like-count">{{ post.likes }}</span>
                    </div>


                </div>
                <div class="endline">
                </div>

            {% endfor %}
            <div class="pagination">
                <span class="step-links">
                    {% if posts.has_previous %}
                        <a href="?page={{ posts.previous_page_number }}"><ion-icon
                                name="chevron-back-outline"></ion-icon></a>
                    {% else %}
                        <span class="inactive"><ion-icon name="chevron-back-outline"></ion-icon></span>
                    {% endif %}

                    <span class="current">
                        {% trans "Сторінка " %}{{ posts.number }} {% trans "з " %}{{ posts.paginator.num_pages }}.
                    </span>

                    {% if posts.has_next %}
                        <a href="?page={{ posts.next_page_number }}"><ion-icon
                                name="chevron-forward-outline"></ion-icon></a>
                    {% else %}
                        <span class="inactive"><ion-icon name="chevron-forward-outline"></ion-icon></span>
                    {% endif %}
                </span>
            </div>
        </div>

    </div>


{% endblock content %}
{% block script %}
    <script>
        const likeButtons = document.querySelectorAll('.like-button');

        likeButtons.forEach(button => {
            if (button.classList.contains('liked')) {
                button.disabled = true;
            }
            button.addEventListener('click', async () => {
                const postId = button.dataset.postId;

                const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                const headers = {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken,
                };

                const response = await fetch(`/blog/like/${postId}/`, {
                    method: 'POST',
                    headers: headers,
                });
                const data = await response.json()
                if (data.message === 'success') {
                    const postLikesElement = button.parentElement.querySelector('.like-count');
                    const newLikes = parseInt(postLikesElement.textContent) + 1;
                    postLikesElement.textContent = String(newLikes);
                    button.disabled = true;
                }
            });
        });
    </script>
{% endblock %}
