.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.categories-wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    width: 80%;
    gap: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 30%;
}

.category_link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: black;
    z-index: 98;
    transition: transform 0.2s;
}

.name {
    font-weight: 500;
    margin-top: 15px;
}

.category_link:hover {
    transform: scale(1.03);
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}

.photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid #f2f2f2;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}


@media (max-width: 768px) {
    .categories-wrapper {
        flex-direction: column;
    }

    .column {
        width: 100%;
    }
}


