.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body.static {
    overflow: hidden;
}

.photos-wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    width: 80%;
    gap: 20px;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
}

.photo_link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: black;
    z-index: 98;
    cursor: pointer;
}




img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}

.photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.fullscreen-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;

}

.fullscreen-container.show {
    visibility: visible;
    opacity: 1;
}

.fullscreen-image {
    max-width: 70%;
    max-height: 90%;
    min-width: 30%;
    opacity: 0.5;
    transition: opacity 0.2s;
}

.fullscreen-close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: black;
    font-size: 60px;
    cursor: pointer;
}

.fullscreen-arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.fullscreen-arrow {
    color: black;
    font-size: 36px;
    margin: 0 20px;
    cursor: pointer;
    pointer-events: auto;
}

.fullscreen-image.fade_in {
    opacity: 1;
}




@media (max-width: 768px) {
    .photos-wrapper {
        flex-direction: column;
    }

    .column {
        width: 100%;
    }
}