@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    font-family: 'Montserrat', sans-serif;;
}

body {
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  padding: 0px 0px 20px 0px;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 65px;
  align-items: center;
}

.languages p {
  font-weight: bold;
}

.languages-list {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.languages-list li {
  display: inline-block;
  margin-right: 10px;
}

.languages-list li:last-child {
  margin-right: 0;
}

.languages-list a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.languages-list a.selected {
  background-color: #ccc;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
}

.nav-links li {
  margin: 0 30px;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: bold;
}

.nav-links li a:hover {
  color: green;
}